# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

### some of the popular languages that Data Scientists use are

1.Python
2.SQL
3.R

#### Some of the Commomly used Liabraries used by Data Scientists include

1. Numpy
2. Pandas
3. Seaborn
4. Scikit-learn

| tools used in data science |
|---|
| Python |
| SQL |
| R |

 ### Below are a few examples of evaluating arithmetic expressions in Python

In [11]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [12]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

## Author
Anirban